@using _3DPrintingBlockchainMarket.Models.EmailViewModels
@model EmailConfirmationViewModel

    <div>
        <h2>Hello @Model.FirstName !</h2>
        <h4>Welcome to Your 3D Marketplace!</h4>
    </div>